*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: var(--secondary-txt-cl);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  display: inline-block; /* щоб посилання не було ширше ніж треба  */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
