:root {
  --main-font: 'Poppins', sans-serif;

  --main-txt-cl: #31261a;
  --secondary-txt-cl: #faf4ea;
  --accent-light-cl: #819b57;
  --accent-dark-cl: #465929;
  --light-brand-cl: #cfcfbc;
  --secondary-dark-cl: #a28268;
}
