.carousel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* щоб стрілочки не стискались, коли їх витісняє розмір карток */
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: transparent;
  fill: var(--main-txt-cl);
  border-radius: 50%;
  border: 1px solid var(--main-txt-cl);
  cursor: pointer;
  transition:
    background-color 0.3s,
    fill 0.3s;

  &:hover,
  &:focus {
    background-color: var(--main-txt-cl);
    fill: var(--secondary-txt-cl);
  }

  &.next {
    transform: rotate(180deg);
  }
}
