.chef-card {
  display: flex;
  gap: 16px;

  &__img {
    width: 240px;
    border-radius: 4px 4px 4px 200px;
    box-shadow:
      -16px 16px 0 0 var(--secondary-txt-cl),
      -16px 16px 0 1px var(--secondary-dark-cl);
  }

  &__name {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
