.chef-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  @media screen and (min-width: $bp-desktop) {
    gap: 30px;
  }

  &__img {
    width: 140px;
    border-radius: 4px 4px 4px 200px;
    box-shadow:
      -9px 9px 0 0 var(--secondary-txt-cl),
      -9px 9px 0 1px var(--secondary-dark-cl);
    @media screen and (min-width: $bp-desktop) {
      width: 240px;
      box-shadow:
        -16px 16px 0 0 var(--secondary-txt-cl),
        -16px 16px 0 1px var(--secondary-dark-cl);
    }
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 14px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }
  }
}
