.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @media screen and (min-width: $bp-mobile) {
    gap: 24px;
  }

  &__button {
    width: 8px;
    height: 8px;
    background-color: var(--secondary-dark-cl);
    border-radius: 50%;
    @media screen and (min-width: $bp-mobile) {
      width: 12px;
      height: 12px;
    }

    &--active {
      background-color: var(--accent-light-cl);
    }
  }
}
