.advantages-section {
  padding: 16px 0;
  background-color: var(--accent-light-cl);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  color: var(--secondary-txt-cl);
  font-weight: 300;
  font-size: 20px;
}
