.advantages-section {
  padding: 16px 0;
  background-color: var(--accent-light-cl);

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-weight: 300;
    font-size: 20px;
  }

  &__item {
    color: var(--secondary-txt-cl);
    font-style: 20px;
  }
}
