.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 80px;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      bottom: 24px;
      content: '';
      width: 352px;
      border: 2px solid var(--light-brand-cl);
    }
    &::after {
      right: 0;
    }
    &::before {
      left: 0;
    }
  }

  &__list {
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap; /* якщо будуть додані ще шефи, щоб йшли на інший рядок*/
  }
  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
