.footer {
  position: relative;
  padding: 32px 0;
  background-image: url(../images/footer/footer-bg.png);
  background-color: var(--main-txt-cl);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  content: '';
  background-repeat: no-repeat;
}
.footer::before {
  width: 180px;
  height: 120px;
  background-image: url(../images/footer/bread-1.png);
}
.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url(../images/footer/bread-2.png);
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.address-link {
  font-style: normal;
  color: var(--secondary-txt-cl);
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  transition: color 0.3s;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-light-cl);
}
.address-icon {
  fill: var(--secondary-txt-cl);
  transition: fill 0.3s;
}
.address-icon:hover,
.address-icon:focus {
  fill: var(--accent-light-cl);
}
.policy-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-txt-cl);
}
.copyright {
  font-size: 14px;
  color: #a18268;
}

.footer-logo,
.footer-nav-list {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}
