.join-section {
  padding-bottom: 96px;
}
.join-container {
  display: flex;
  gap: 32px;
}
.join-title {
  margin-bottom: 16px;
}
.join-text {
  color: var(--accent-dark-cl);
  margin-bottom: 42px;
}
.join-form-field {
  position: relative;
  margin-bottom: 24px;
}
.join-btn {
  margin: 0 auto 16px;
}
.join-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
