.traditions-section {
  padding-top: 96px;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 650px;
}
.traditions-image {
  border-radius: 400px 400px 0px 0px;
}
.traditions-descr.limited {
  max-width: 340px;
  margin-top: 42px;
}
